/** CORPORATE FONTS **/
@font-face {
    font-family: 'NewsGothic';
    font-weight: normal;
    font-style: normal;
    src: url('//nebulacdn.na.novartis.net/component/sig-common/1.3.6/css/fonts/ng-webfont.eot');
    src: url('//nebulacdn.na.novartis.net/component/sig-common/1.3.6/css/fonts/ng-webfont.eot?iefix') format('eot'),
         url('//nebulacdn.na.novartis.net/component/sig-common/1.3.6/css/fonts/ng-webfont.woff') format('woff'),
         url('//nebulacdn.na.novartis.net/component/sig-common/1.3.6/css/fonts/ng-webfont.ttf') format('truetype'),
         url('//nebulacdn.na.novartis.net/component/sig-common/1.3.6/css/fonts/ng-webfont.svg#webfontz7TwSUiw') format('svg');
}

@font-face {
    font-family: 'NewsGothic';
    font-weight: bold;
    font-style: normal;
    src: url('//nebulacdn.na.novartis.net/component/sig-common/1.3.6/css/fonts/ngb-webfont.eot');
    src: url('//nebulacdn.na.novartis.net/component/sig-common/1.3.6/css/fonts/ngb-webfont.eot?iefix') format('eot'),
         url('//nebulacdn.na.novartis.net/component/sig-common/1.3.6/css/fonts/ngb-webfont.woff') format('woff'),
         url('//nebulacdn.na.novartis.net/component/sig-common/1.3.6/css/fonts/ngb-webfont.ttf') format('truetype'),
         url('//nebulacdn.na.novartis.net/component/sig-common/1.3.6/css/fonts/ngb-webfont.svg#webfontmFCfAkbS') format('svg');
}

@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700);

.spectacle-slide {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

/* Firefox */

_:-moz-tree-row(hover), .spectacle-deck {
  perspective: 1000px;
}

_:-moz-tree-row(hover), ul .appear {
  display: inline;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
